# Playwright
/.features-gen/
/allure-results/
/config/
/fixture/
/node_modules/
/playwright-report/
/src/test/utils/
/test-results/
.env
package-lock.json
package.json
playwright.config.js
global-setup.js

